<form action="/login" method="POST">
  <div class="d-flex flex-column justify-content-center mx-auto mt-5" style="max-width: 600px;">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">帳號</span>
      </div>
      <input type="text" class="form-control" name="email" placeholder="Email" aria-label="Email"
        aria-describedby="basic-addon1" required>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">密碼</span>
      </div>
      <input type="text" class="form-control" name="password" placeholder="Password" aria-label="Password"
        aria-describedby="basic-addon1" required>
    </div>
    <button class="btn btn-major" type="submit">登入</button>
  </div>
</form>